h1{
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

input{
    border-color: red;
    border-style: solid;
}

/* button{
    color:green;
    border-style: solid;
    border-color:green;
} */

